body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: solid;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(60, 60, 124);
}
.calculater{
    background-color: rgb(26, 8, 8);
    padding: 2%;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: minmax(100px,auto) repeat(5,80px);
    gap: 10px;
}
.screen{
    grid-column: span 4;
    background: white;
    border-radius: 10px;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    overflow: hidden;
}
button{
    border: none;
    border-radius: 10px;
    cursor:pointer;
    font-size:1.5rem;
    font-weight: bold;
}
button:active {
     transform: scale(0.95);
}
.operater {
      background: orange;
      color: #fff;
}
.clear{
    background-color: crimson;
    grid-column: span 2;
    color: wheat;
}
.equal{
    background-color: white;
    grid-row: span 2;
}
.number{
    background-color: #444;
    color: white;
}

